/* 
 *  Theme variables 
 */
$primary-color: #2B4429;
$secondary-color: gray;
$light-color: white;
$dark-color: grey;
$text-color: black;
$text-green: #2B4429;
$text-pink: #FFFBF2;
$bg-green: #2B4429;
$bg-pink: #FFFBF2;


/* 
 *  Fonts define 
 */
@font-face {
    font-family: "Rational";
    src: url("../fonts/RATIONAL/Rational-Book.otf") format("opentype");
}