extends ./parts/layout.pug

prepend meta
    title Namtech - Home
block main-wrapper
    include ./parts/includes/hero-banner.pug
    include ./parts/includes/current-rugs.pug
    include ./parts/includes/how-work.pug
    include ./parts/includes/hero.pug
    include ./parts/includes/current-rugs.pug
    include ./parts/includes/subscribe-email.pug

