extends ./parts/layout.pug

prepend meta
    title Namtech - RUG
    
block main-wrapper
    h1.d-none Namtech - RUG
    .wrapper-child
        .rug
            include ./parts/includes/artist-rugs.pug
            include ./parts/includes/how-work.pug
            include ./parts/includes/artist-rugs.pug
            include ./parts/includes/artist-rugs.pug
            include ./parts/includes/subscribe-email.pug
