.artist-brief.container-fluid
    .row
        .col-md-4
            .brief-content
                h4 artist's brief bio
                .brief-description
                    p Hannah Nowlan is an emerging artist living and working in Black Rock, Victoria, Australia. Holding a Bachelor of Fine Arts; Drawing and Printmaking from the Victoria College of Arts, University of Melbourne (2015).
                    p Finalist in both the Fisher’s Ghost Art Award (2019) and the Incinerator Art for Social Change Award (2015). Hannah also participated in the International Artist In Residence program at the University of Lisbon, Portugal (2016).
                a(href="./artists.html").arrow VIEW ALL ARTISTS
        .col-md-8.vimeo
            .vimeo-v.embed-responsive.embed-responsive-16by9
                iframe(src="https://player.vimeo.com/video/466478812" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen).embed-responsive-item
