.owl-artist-list.owl-carousel.owl-theme
    - for (var x = 0; x < 3; x++)
        .item
            .artist_content
                p RUG TITLE 
                p.pl-4 DESIGNED BY ARTIST NAME
            a(href="")
                img(src="./assets/imgs/thumb-product.png", alt="")
            .view
                a(href="./detail-artist.html").arrow VIEW