.position-relative.wrapper-child-rugs.container-fluid
    .row.current-rugs
        .col-md-4.rugs.col-sm-12
            .content
                h3(class="title") CURRENT RUGS
                .description
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    p sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                a(href="#" class="view_all arrow") VIEW ALL RUGS
        .col-md-12
            .owl-carousel.owl-theme.owl-rugs-slide 
                .item
                    .image-item
                        img(src="./assets/imgs/home/image_rug1.png", alt="image 1" class="slider-rugs")
                    .rug-content
                        h4 RUG TITLE
                        P DESIGNED BY ARTIST NAME
                .item
                    .image-item
                        img(src="./assets/imgs/home/image_rug2.png", alt="image 1" class="slider-rugs")
                    .rug-content
                        h4 RUG TITLE
                        P DESIGNED BY ARTIST NAME
                .item
                    .image-item
                        img(src="./assets/imgs/home/image_rug3.png", alt="image 1" class="slider-rugs")
                    .rug-content
                        h4 RUG TITLE
                        P DESIGNED BY ARTIST NAME
                .item
                    .image-item
                        img(src="./assets/imgs/home/image_rug1.png", alt="image 1" class="slider-rugs")
                    .rug-content
                        h4 RUG TITLE
                        P DESIGNED BY ARTIST NAME
