section.details 
            .details__content
                ol.breadcrumb
                    li ARtists
                    li louise zhang
                .content-info
                    .content
                        h2 louise zhang
                        h4 china/aus 
                        p Louise Zhang (b.1991) is a Chinese-Australian multidisciplinary artist whose practice spans painting, sculpture and installation. Zhang explores the dynamics of aesthetics, contrasting the attractive and repulsive in order to navigate the senses of fear, anxiety and a sense of otherness reflecting her identity. Her work is inspired by horror cinema, Chinese mythology and botany, adopting and placing symbols and motifs in compositions of harmonic dissonance.
                    .parameter
                        ul
                            li 
                                span website
                                span 
                                    a(href="#", target="_blank") luisezhang.com
                            li
                                span INSTAGRAM 
                                span 
                                    a(href="#", target="_blank") @louise__zhang
            .details__img
                img(src="./assets/imgs/detail-img.jpg", alt="")