.hero-section.wrapper-child-hero
    .owl-carousel.owl-theme.owl-hero-banner
        .item
            img(src="./assets/imgs/hero-banner1.png", alt="image 2" class="banner")
            .text-block
                h6 ABOUT US
                P.text-uppercase Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                a(href="").arrow LEARN MORE 
        .item
            img(src="./assets/imgs/hero-banner1.png", alt="image 2" class="banner")
            .text-block
                h6 ABOUT US
                p.text-uppercase Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                a(href="").arrow LEARN MORE 
        .item
            img(src="./assets/imgs/hero-banner1.png", alt="image 2" class="banner")
            .text-block
                h6 ABOUT US
                p.text-uppercase Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                a(href="").arrow LEARN MORE 