.how-works.wrapper-child-works
    h3 HOW IT WORKS
    .owl-carousel.owl-theme.owl-how-works
        .item
            h4 We collaborate with amazing artists
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, item
        .item
            h4 We handmake beautiful rugs
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
        .item
            h4 We deliver and install for you
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 

