li.count
    .gallery-items__title
        a(href="#")
            img(src=`./assets/imgs/article/article-${x}.jpg`, alt="article-3")
            h6 ARTICLE PLACEHOLDER TITLE NAME OF IT
    .gallery-items__read-now
        a(href="#").arrow READ NOW