.wrapper-child
    .section-subscribe
        .container-fluid
            .row
                .col-xl-6.col-12.px-0
                    img(src="./assets/imgs/home/subscribe.jpg", alt="subscribe").my-0.h-100
                .col-xl-6.col-12.my-4.my-xl-0.d-flex.align-items-center
                    .px-2.px-md-5.newsletter-footer
                        h2 stay up to date with our latest rugs and news 
                        p Sed ut perspiciatis unde ommits iste natus error sit
                            |voluptatem accusantium doloremque laudantium, totam
                            |rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            |quasi architecto beatae vitae dicta sunt explicabo.
                        form(action="")
                            .form__group.field.mb-4
                                input(type="email", placeholder="EMAIL ADDRESS", name="email", id="email", required).form__field
                                label(for="email").form__label.text-uppercase email address
                            button(type="submit").bg-pink.border-0.text-uppercase.arrow subscribe now